* {
    box-sizing: border-box;
    padding:0%;
    margin: 0%;
}
.container {
    height: 60px;
    text-align: center;
    
    
}
header {
    background-color: rgb(187, 180, 180);
    position: fixed;
    top: 0%;
    width: 100%;
}
nav li {
    display: inline-block;
    line-height: 4rem;
    padding: 0 0.5rem;
}
.img {
    vertical-align: middle;
    width: 100px;
}
main {
    padding-top: 10px;
    background-color: rgb(245, 238, 238);
    margin-top: 90px;
}
p {
    padding:0rem 2rem;
}
